# Mail module
APP_MAIL_ENABLED=true
MAIL_SMTP_HOST=smtp.mail.ru
MAIL_SMTP_PORT=465
MAIL_SMTP_SSL_ENABLE=true
MAIL_SMTP_STARTTLS_ENABLE=false
MAIL_USERNAME=your_mailbox@inbox.ru
MAIL_PASSWORD=replace_with_mailru_app_password
MAIL_FROM=NN2 Audit Docker <your_mailbox@inbox.ru>

# Optional SMTP timeouts (ms)
MAIL_SMTP_CONNECTION_TIMEOUT=5000
MAIL_SMTP_TIMEOUT=10000
MAIL_SMTP_WRITE_TIMEOUT=10000
